.root {
  user-select: none;
  font-family: "Do Hyeon", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 6px;
  z-index: 1;
}

.title {
  background-color: white;
  display: flex;
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 30px;
}

.utils {
  background-color: #00000080;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.round {
  position: absolute;
  top: 60px;
  background-color: #00000080;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  flex-direction: column;
}

.teamWrapper {
  font-size: 70px;
  display: flex;
  gap: 8px;
  width: 100%;
}

.teamName {
  color: black;
  background-color: white;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 80px;
  width: 75%;
}

.teamSet {
  background-color: #00000080;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 100px;
}

.teamLeft {
  left: 0;
  justify-content: flex-start;
}

.teamRight {
  right: 0;
  justify-content: flex-end;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(170deg, #2a61ba, #1e4789);
  width: 100vw;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-size: 450px;
  color: white;
  padding-top: 128px;
}

.divider {
  padding-top: 200px;
  padding-bottom: 40px
}

.minus {
  font-size: 30px;
  background-color: #00000080;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minusLeft {
  border-top-right-radius: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.minusRight {
  border-top-left-radius: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.score {
  display: flex;
  justify-content: center;
  line-height: 1.15;
}